<mat-sidenav-container class="sidenav-container">
<!-- mat sidenav : barre menu sur la gauche -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
  [opened]="!(isHandset | async)!.matches">
  <app-sidenav></app-sidenav>
</mat-sidenav>
<!-- mat sidenav content : contenu sur la droite -->
<mat-sidenav-content>
  <app-menubar [drawer]="drawer"></app-menubar>
  <section class="progress-bar">
    <mat-progress-bar [color]="'primary'" [mode]="progressBarMode"></mat-progress-bar>
  </section>
  <app-displaymeteo></app-displaymeteo>
  <!-- router outlet : permet de charger un composant au lieu d'une page -->
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
